{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'shipping/style2.css' %}">

<header>
    <div class="head_center">
        <ul>
            <li><a href="{% url 'shipping:index' %}">Home</a></li>
            <li><a href="{% url 'shipping:index' %}">Branches</a></li>
            <li><a href="{% url 'shipping:index' %}">Cars</a></li>
            <li><a href="{% url 'shipping:index' %}">Washers</a></li>
            <li><a href="{% url 'shipping:index' %}">Contact</a></li>
            <li style="float: right;">
            <img src='../shipping/static/shipping/image/mm.jpg' alt="LOGO" width="55px" height="40px">
                </a>
            </li>
        </ul>
    </div>
</header>