{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'shipping/style2.css' %}">

<header>
    <div class="head_top">
        <div class="head_top_left">
            <img src='../shipping/static/shipping/image/mm.jpg' alt="LOGO" width="80px" height="70px">
        </div>
        <div class="head_top_right">

        </div>

    </div>
    <div class="head_center">
        <ul>
            <li><a href="{% url 'shipping:index' %}">Home</a></li>
            <li><a href="{% url 'shipping:index' %}">Branches</a></li>
            <li><a href="{% url 'shipping:index' %}">Cars</a></li>
            <li><a href="{% url 'shipping:index' %}">Washers</a></li>
            <li><a href="{% url 'shipping:index' %}">Contact Us</a></li>
            <li style="float: right;">
                <a href="#" class="main_logo">
                Logo
                </a>
            </li>
        </ul>
    </div>
</header>